{% extends 'base.html' %}
{% block site_content %}


        <h1 class="text-center">Add Recipe</h1>
        <div class="add_container row">
            <div class="add_recipesl row">
                <form method="post" enctype="multipart/form-data" class="add_recipes">
                    {% csrf_token %}
                    <div class="add_recipesl form-row">
                        {{ form }}
                    </div>
                  <button class="btn btn-primary mt-2" type="submit">Create</button>
                </form>

            </div>
            </div>
        </div>

{% endblock %}